[submodule "main-21-5/lib/sdmlib"]
	path = main-21-5/lib/sdmlib
	url = git@github.com:sundevilmotorsports/sdmlib.git
[submodule "wheel-21-5/lib/sdmlib"]
	path = wheel-21-5/lib/sdmlib
	url = git@github.com:sundevilmotorsports/sdmlib.git
[submodule "wheel-21-5/lib/SF_MLX90614"]
	path = wheel-21-5/lib/SF_MLX90614
	url = https://github.com/sparkfun/SparkFun_MLX90614_Arduino_Library.git
[submodule "main-21-5/lib/SF_MLX90614"]
	path = main-21-5/lib/SF_MLX90614
	url = https://github.com/sparkfun/SparkFun_MLX90614_Arduino_Library.git
